################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SportsStore/.vs/SportsStore.slnx/FileContentIndex/62ddf47b-f448-4076-90ce-520daf5e7b00.vsidx
/SportsStore/.vs/SportsStore.slnx/FileContentIndex
